body {
  background-color: #E7F1FD;
}

#members {
  height: 100%;
  font-family: "Lucida Console", Courier, monospace;
  color: #a49998;
  position: relative;
  top: -20px;
}

.peopleOne {
  float: right;
  padding-right: 20px;
  padding-top: 60px;
}

.peopleTwo {
  float: right;
  padding-right: 100px;
  padding-top: 70px;
}

.peopleThree {
  float: right;
  padding-right: 620px;
  padding-top: 80px;
}

.peopleFour {
  float: right;
  padding-right: 660px;
  padding-top: 80px;
}

.peopleFive {
  float: right;
  padding-right: 620px;
  padding-top: 80px;
}

.peopleSix {
  float: right;
  padding-right: 650px;
  padding-top: 80px;
}

.peopleSeven {
  float: right;
  padding-right: 670px;
  padding-top: 80px;
}



